/* color codes
    #d83282 -> red+pink
*/
.nav{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav a{
    color:#d83282;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.3em;
}
.icons svg{
    margin: 0 0.5em;
    cursor: pointer;
}